h1{
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 270%;
}
body{
    background-image: url(https://images.pexels.com/photos/281260/pexels-photo-281260.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1) ;
    display: flex;
justify-content: center;
align-items: center;
}



.singup{
    background-color: rgb(248, 241, 241);
    text-align: center;
    width: 150%;
    margin: 180px;
    padding: 50px;
    max-width:300px ;
    border-radius: 10%; 
    height: 1500px50px;
    
}
input{
    margin: 13px;
}